<%= form_with(model: livro, local: true) do |form| %>
  <% if livro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(livro.errors.count, "error") %> prohibited this livro from being saved:</h2>

      <ul>
      <% livro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="row">
    <form class="col s12">
      <div class="input-field col s6">
        <input placeholder="Insira o nome aqui" id="nome_autor" type="text" class="validate">
        <label for="nome_autor" class="active">Primeiro nome</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Insira o sobrenome aqui" id="sobrenome_autor" type="text" class="validate">
        <label for="sobrenome_autor" class="active">Sobrenome</label>
      </div>
    </form>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Registro do livro" id="registro" type="text" class="validate">
      <label for="nome_autor" class="active">Registro</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Titulo do livro" id="livro_titulo" type="text" class="validate">
      <label for="nome_autor" class="active">Titulo</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="cdu" id="cdu" type="text" class="validate">
      <label for="nome_autor" class="active">CDU</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Idioma do Livro" id="idioma_livro" type="text" class="validate">
      <label for="idioma_livro" class="active">Idioma</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Nome da coleção ou da serie de livros" id="nome_serie" type="text" class="validate">
      <label for="nome_serie" class="active">Serie ou Coleção</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Volume da serie ou da coleção" id="volume_serie" type="number" class="validate">
      <label for="volume_serie" class="active">Volume</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Editora Livro" id="editora" type="text" class="validate">
      <label for="editora" class="active">Editora</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Ano de publicação" id="ano" type="date" class="validate">
      <label for="ano" class="active">Ano</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Edição do Livro" id="edicao" type="number" class="validate">
      <label for="edicao" class="active">Edição</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="ISBN do Livro" id="isbn" type="text" class="validate">
      <label for="isbn" class="active">ISBN</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Data de aquisição do Livro" id="data_aquisicao" type="date" class="validate">
      <label for="data_aquisicao" class="active">Data</label>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Origem de aquisição do livro" id="origem_aquisicao" type="text" class="validate">
      <label for="origem_aquisicao" class="active">Origem</label>
    </div>
  </div>
  <div class = "row">
    <div class="input-field col s12">
      <label>Classificação etária </label>
      <br><br>
    <select class="browser-default">
    <option value="" disabled selected>Escolha a opção desejada</option>
    <option value="1">Classificação livre (menor de 18 anos)</option>
    <option value="2">Maior de 18</option>
    </select>
    </div>
  </div>
  <div class ="row">
    <div class=" input-field col s12">
    <h6> O livro é renovável? </h6>
    <form action="#">
    <p>
      <input name="group1" type="radio" id="renovavel" />
      <label for="renovavel">Sim</label>
    </p>
    <p>
      <input name="group1" type="radio" id="nrenovavel" />
      <label for="nrenovavel">Não</label>
    </p>
    </form>      
    </div>
  </div>
  <br>
   <div class ="row">
    <div class=" input-field col s12">
      <input placeholder="Link de download do livro" id="link_download" type="text" class="validate">
      <label for="link_download" class="active">Download</label>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
