<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-lighten-2">Novo livro</h1>
</div>
<br>
<%= render 'form', livro: @livro %>
<a style="float: right" href="/welcome/index" id="download-button" class="btn waves-effect waves-light teal lighten-1">Voltar</a>


