<div class="section no-pad-bot">
	<div class="container">
    	<br><br>
    	<div class="card teal lighten-1">
     	 <br>
      	<h1 class="header center white-text">Editar Usuário</h1>
      	<br>
    	</div>
  	</div>
  	<br>
	<div class="container">

<%= render 'form', user: @user %>

<div class="actions btn waves-effect waves-light teal lighten-1">
<%= link_to 'Mostrar', @user %>
</div>

<a style="float: right" href="/users" id="download-button" class="btn waves-effect waves-light teal lighten-1"><i class="material-icons left">undo</i> Voltar</a>

  <br>
  <br>
</div>