<div id="background_welcome">
  <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-lighten-1">Biblioteca do CG</h1>
    <div class="row center">
      <h5 class="teal-text header col s12">Você também pode ser um escritor! Basta entrar em contato com a gente e nós iremos lhe informar como isso é possível. Estes são alguns dos nossos projetos.</h5>
    </div>
    <div class="row center">
      <a id="negrito" href="https://www.facebook.com/mentecapta.castro.alves/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Projeto Mente Capta</a>
      <a id="negrito" href="https://www.facebook.com/literato.castro.alves/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Projeto Literato</a>
    </div>
    <br><br>
  </div>
  </div>
  </div>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Centro de Ensino Médio 01 do Gama</h5>
          <p class="white-text text-lighten-4">O Centro de Ensino Médio 01 do gama também conhecido como CG é uma escola de ensino médio que está localizado no Setor Leste do Gama, uma cidade satélite do Distrito Federal. Conta com uma ampla estrutura de ensino com todos os meios básicos de uma escola poder oferecer, é uma das escolas privilegiadas e conta como laboratório de informática, física e química, além de um auditório que é usado para múltiplas funções.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Outros Links</h5>
          <ul>
            <li><a class="white-text" href="/divulgation">Veja Nossos Projetos</a></li>
            <li><a class="white-text" href="https://www.facebook.com/soecem01gama/?hc_ref=PAGES_TIMELINE&fref=nf">Nosso Facebook</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contatos</h5>
          <ul>
            <li><a class="white-text" href="#!">Marília</a></li>
            <li><a class="white-text" href="#!">Lindalva</a></li>
            <li><a class="white-text" href="#!">Damaris</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Criado por <a class="brown-text text-lighten-3">Grupo 09 - DiLuJoMa</a>
      </div>
    </div>
  </footer>
</div>
